body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#daftarTugas {
    list-style-type: none;
    padding: 0;
}
#daftarTugas li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selesai {
    text-decoration: line-through;
    color: gray;
}